.chart {
	outline: 1px solid #ccc;
	padding: 2px;
}

.chart + .chart {
	margin-left: 1em;
}

.chart-title {
	font-weight: bold;
}

.chart .bar {
	fill: rgb(153, 153, 153);
}
.chart .bar:hover {
	fill: rgba(153, 153, 153, 0.5);
}

.chart .bar.lib {
	fill: rgb(199, 38, 54);
}
.chart .bar.lib:hover {
	fill: rgba(199, 38, 54, 0.5);
}

.chart .bar.ndp {
	fill: rgb(232, 119, 34);
}
.chart .bar.ndp:hover {
	fill: rgba(232, 119, 34, 0.5);
}

.chart .bar.cp {
	fill: rgb(15, 94, 175);
}
.chart .bar.cp:hover {
	fill: rgba(15, 94, 175, 0.5);
}

.chart .bar.gp {
	fill: rgb(0, 188, 106);
}
.chart .bar.gp:hover {
	fill: rgba(0, 188, 106, 0.5);
}

.chart .bar.lbn {
	fill: rgba(244, 191, 76, 1)
}
.chart .bar.lbn:hover {
	fill: rgba(244, 191, 76, 0.5)
}

.chart .bar.dnv {
	fill: rgba(0, 0, 0 , 1);
}
.chart .bar.dnv:hover {
	fill: rgba(0, 0, 0 , 0.5);
}
